/* //////////////////////nav menu///////////////////// */

.nav {
    display: flex;
    /* display: none; */
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    height: 80px;
    background: white;
    bottom: 0;
    border-top: 1px solid #00000042;
    grid-row: 11/ span 1;
    grid-column: 1 / span 12;
    /* box-shadow: 2px 4px 10px 5px #0000005c; */
  }
  
  .nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .nav img {
    height: 30px;
    margin-bottom: 4px;
  }
  
  .nav a.router-link-exact-active {
    color: #42b983;
  }
  
  p {
    margin: 0;
    font-size: 14px;
  }
  
  .nav-btn {
    height: 24px;
  }

  /* //////////////////////top menu///////////////////// */

  .top-menu {
    display: none;
  }

  .mobile-top-menu {
    width: 100%;
    background: white;
    position: absolute;
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    box-shadow: 0 2px 2px #00000063;
  }
  
  .mobile-top-menu > img{
    height: 38px;
  }



/* /////////////////////////////////////////////////////////////// */


